@page "/"

<h1>Kentico Cloud &amp; Blazor</h1>

This example demonstrates the usage of the <a href="https://github.com/Kentico/delivery-sdk-net">Kentico Cloud Delivery SDK for .NET</a> in a client-hosted Blazor app.

<SurveyPrompt Title="How is Blazor working for you?" />
